/target
.wireit
node_modules
dist
lib
*.tsbuildinfo
.DS_Store
.vscode/*
__pycache__
cache
deps
typescript/packages/planning-server/.env
.wasm_cache
.*.done
!.vscode/launch.json
!.vscode/extensions.json
