on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

name: 'Rust'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lints:
    name: 'Lints'
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      matrix:
        include:
          - toolchain: stable
          - toolchain: nightly
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - name: 'Install OS packages (Ubuntu)'
        run: |
          sudo apt update && sudo apt upgrade -y
          sudo apt install -y protobuf-compiler libprotobuf-dev
      - name: 'Setup Rust'
        run: |
          curl -sSf https://sh.rustup.rs | sh -s -- -y
          rustup toolchain install ${{matrix.toolchain}}
          rustup +${{matrix.toolchain}} component add clippy
          rustup +${{matrix.toolchain}} component add rustfmt
      - name: 'Setup Node/NPM'
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@v1.4.4
      - name: Install binaries from cargo
        run: |
          cargo +${{ matrix.toolchain }} binstall wit-deps-cli wasm-tools cargo-component --no-confirm --force
      - name: 'Install NPM dependencies'
        run: |
          npm install -g @bytecodealliance/jco @bytecodealliance/componentize-js
          cd typescript
          npm ci
      - name: 'Run wit-deps on Wasm Component projects'
        run: |
          # NOTE: cargo-component doesn't invoke build.rs as expected when
          # performing checked format
          cd ./rust/common-javascript-interpreter
          RUST_LOG=trace wit-deps
      - name: 'Check Format'
        run: cargo +${{matrix.toolchain}} fmt --all -- --check
      - name: 'Run Linter'
        run: cargo +${{matrix.toolchain}} clippy --all -- -D warnings

  build-wasm32-unknown-unknown:
    name: 'Build wasm32-unknown-unknown'
    needs: ['lints']
    runs-on: 'ubuntu-latest'
    continue-on-error: false
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - name: 'Install OS packages (Ubuntu)'
        run: |
          sudo apt update && sudo apt upgrade -y
          sudo apt install -y protobuf-compiler libprotobuf-dev
      - name: 'Setup Rust'
        run: |
          curl -sSf https://sh.rustup.rs | sh -s -- -y
          rustup toolchain install stable
          rustup target add wasm32-unknown-unknown
      - name: 'Setup Node/NPM'
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@v1.4.4
      - name: Install binaries from cargo
        run: |
          cargo binstall wit-deps-cli wasm-tools cargo-component --no-confirm --force
      - name: 'Install NPM dependencies'
        run: |
          npm install -g @bytecodealliance/jco @bytecodealliance/componentize-js
          cd typescript
          npm ci
      - name: 'Run wit-deps on Wasm Component projects'
        run: |
          # NOTE: cargo-component doesn't invoke build.rs as expected when
          # performing checked format
          cd ./rust/common-javascript-interpreter
          RUST_LOG=trace wit-deps
      - name: 'Generate bindings for Wasm Components'
        run: |
          # NOTE: cargo-component doesn't invoke build.rs as expected when
          # performing checked format
          cd ./rust/common-javascript-interpreter
          cargo component check
      - name: 'Build wasm32-unknown-unknown'
        run: cargo build --target wasm32-unknown-unknown

  build-wasm-components:
    name: 'Build Wasm Components'
    needs: ['lints']
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - name: 'Install OS packages (Ubuntu)'
        run: |
          sudo apt update && sudo apt upgrade -y
          sudo apt install -y protobuf-compiler libprotobuf-dev
      - name: 'Setup Rust'
        run: |
          curl -sSf https://sh.rustup.rs | sh -s -- -y
          rustup toolchain install stable 
      - name: 'Setup Node/NPM'
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@v1.4.4
      - name: Install binaries from cargo
        run: |
          cargo binstall cargo-component cargo-nextest wit-deps-cli wasm-tools --no-confirm --force
      - name: 'Install NPM dependencies'
        run: |
          npm install -g @bytecodealliance/jco @bytecodealliance/componentize-js@0.9.0
          cd typescript
          npm ci
      - name: 'Run wit-deps on Wasm Component projects'
        run: |
          # NOTE: cargo-component doesn't invoke build.rs as expected when
          # performing checked format
          cd ./rust/common-javascript-interpreter
          RUST_LOG=trace wit-deps
      - name: 'Build Rust-based Wasm Components'
        shell: bash
        run: |
          cargo component build \
            -p common-javascript-interpreter \
            --release
        env:
          RUST_LOG: debug
      - uses: actions/upload-artifact@v3
        with:
          name: wasm-components
          path: ./target/wasm32-wasip1/release/common_javascript_interpreter.wasm


  native-target-tests:
    name: 'Native target tests'
    needs: ['lints', 'build-wasm-components']
    strategy:
      matrix:
        platform: ['ubuntu-latest', 'macos-13']
        toolchain: ['stable', 'nightly']
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - uses: actions/download-artifact@v3
      - name: 'Install OS packages (Ubuntu)'
        if: ${{ matrix.platform == 'ubuntu-latest' }}
        run: |
          sudo apt update && sudo apt upgrade -y
          sudo apt install -y protobuf-compiler libprotobuf-dev tree
      - name: 'Install OS packages (MacOS)'
        if: ${{ matrix.platform == 'macos-13' }}
        run: |
          brew install protobuf tree
      - name: 'Setup Rust'
        run: |
          curl -sSf https://sh.rustup.rs | sh -s -- -y
          rustup toolchain install ${{matrix.toolchain}}
      - name: 'Setup Node/NPM'
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@v1.4.4
      - name: Install binaries from cargo
        run: |
          cargo +${{ matrix.toolchain }} binstall cargo-component cargo-nextest wit-deps-cli wasm-tools --no-confirm --force
      - name: 'Install NPM dependencies'
        run: |
          npm install -g @bytecodealliance/jco @bytecodealliance/componentize-js@0.9.0
          cd typescript
          npm ci
      - name: 'Run wit-deps on Wasm Component projects'
        run: |
          # NOTE: cargo-component doesn't invoke build.rs as expected when
          # performing checked format
          cd ./rust/common-javascript-interpreter
          RUST_LOG=trace wit-deps
      - name: 'Run Rust tests'
        shell: bash
        run: |
          mv ./wasm-components ./.wasm_cache
          mkdir -p test-results

          echo "${{ matrix.platform }}
          ${{ matrix.features }}
          ${{ matrix.toolchain}}" > test-results/target

          cargo +${{ matrix.toolchain }} nextest run \
            --release \
            --workspace \
            --exclude common-javascript-interpreter \
            --profile ci --color always 2>&1 | tee test-results/log
        env:
          RUST_LOG: debug
      - uses: actions/upload-artifact@v3
        with:
          name: test-results-${{ hashFiles('./test-results') }}
          path: ./test-results

  workflow-analysis:
    name: 'Workflow analysis'
    needs: ['native-target-tests']
    permissions:
      contents: read
      pull-requests: write
    if: github.ref != 'refs/heads/main'
    uses: ./.github/workflows/workflow_analysis.yaml
    secrets: inherit
